<% provide(:title, 'Home') %>
<%= render 'layouts/navbar' %>
<div class="column sidebar">
  <!-- sidebar -->
  <p>This is the sidebar</p>
  <div class="column side-nav">
    <p>This is the Navigation</p>
  </div>
</div>
<div class="main-area">
  <!-- main content -->
  <h3>Main area.</h3>
</div>