@import "bootstrap-sprockets"
@import "bootstrap"

.under-construction
  .panel
    @extend .row
    padding-top: 100px
    padding-bottom: 500px
    background: #eee

.page-header
  @extend .row
  padding-left: 10px
  padding-top: 1px
  color: #00f
  background: #ddf

.main-area
  @extend .row
  h3
    float: left

.column
  @extend .col-md-4

.content
  @extend .col-xs-9
  @extend .col-sm-9

.sidebar
  @extend .col-xs-4
  @extend .col-sm-4

.side-nav
  @extend .col-sm-2
  @extend .col-sm-2
