<header>
  <div id="header" class="container">
    <div class="text">
      <h1>IsNology Pty. Ltd.</h1>
      <h3> Turning ideas into reality.</h3>
    </div>
  </div>
  <div class="navbar">
    <div class ="navbar-inner">
      <div class="container">
        <%= link_to "a link", '#' %>
      </div>
    </div>
  </div>
</header>